# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.noseids
.coverage
coverage.xml
*.cover
.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# OS and editor specific
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/